<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="author" content="Woodstock">
    <meta name="description" content="Mon site parle de préparation d'un mariage">
    <meta name="keywords" content="html, css, tags, balises">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <link href="https://fonts.googleapis.com/css?family=Cookie&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shojumaru&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
    <title>
        NUTSI
    </title>
</head>

<body>
{% block content %}
    <main>
        <div class="backImglogin text-align-center ">
            <div class="colorConnect margin-login-block">
                {% trans_default_domain 'FOSUserBundle' %}

                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path("fos_user_security_check") }}" method="post">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}
                    <div>
                        <label for="username">{{ 'security.login.username'|trans }}</label>
                    </div>
                    <div>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
                    </div>
                    <label for="password">{{ 'security.login.password'|trans }}</label><br>
                    <input type="password" id="password" name="_password" required="required" autocomplete="current-password" /><br>

                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label><br>

                    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                </form>
                <div class="displayCenter">
                    <a class="margin-boutton-login" href="{{ path('accueil') }}">Accueil</a><br>
                    <a class="margin-boutton-login" href="{{ path('fos_user_registration_register') }}">Créer un compte</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

</body>

