
    {% extends "@FOSUser/layout.html.twig" %}

    {% trans_default_domain 'FOSUserBundle' %}

    {% block fos_user_content %}
    <!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta name="author" content="Woodstock">
        <meta name="description" content="Mon site parle de préparation d'un mariage">
        <meta name="keywords" content="html, css, tags, balises">
        <meta name="viewport" content="width=device-width, user-scalable=yes">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta name="robots" content="index, follow">
        <link href="https://fonts.googleapis.com/css?family=Cookie&amp;display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Great+Vibes&amp;display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script&amp;display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Shojumaru&amp;display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        <title>
            NUTSI
        </title>
    </head>
    <main class="backImglogin">
        <div class="colorConnect">
           <div class="text-align-center margin-login-block">
                <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>

                {% if targetUrl %}
                <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
                {% endif %}
           </div>

            <div class="displayCenter">
                <a href="{{ path('accueil') }}">Accueil</a>
            </div>

        </div>
    </main>

    {% endblock fos_user_content %}
